.navbar {
  background-color: #fde6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;

  & .siteLogo {
    width: 10%;
    margin: 1em;
    text-transform: uppercase;
    margin-left: 2rem;
  }

  & .siteLogo a,
  .links a,
  .resume a {
    color: #872c2c;
  }

  & .siteLogo a:link,
  .links a:link,
  .resume a:link {
    text-decoration: none;
  }

  & .siteLogo a:hover,
  .links a:hover,
  .resume a:hover {
    color: #c04646;
  }

  & .siteLogo a:active,
  .links a:active,
  .resume a:active {
    color: white;
  }

  & .links a:hover {
    text-shadow: 0 1 1em white;
    text-decoration: underline;
  }
}

.navlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks li {
  float: left;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.resume {
  width: 10%;
  text-align: right;
  margin: 1rem;
  font-style: italic;
  margin-right: 2rem;
}
