.social-btn {
  display: flex;
  justify-content: start;
  align-items: center;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #aa3c3c;
  border-radius: 15px;
  border-style: none;
  margin-right: 0.75rem;
}

.logo {
  width: 20px;
  height: 20px;
}
